/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.reveal {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .reveal {
    transition: none;
  }
}

.logo-delay-1 {
  transition-delay: 0.2s;
}
.logo-delay-2 {
  transition-delay: 0.4s;
}
.logo-delay-3 {
  transition-delay: 0.6s;
}
.logo-delay-4 {
  transition-delay: 0.8s;
}